body{
    background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
}
.box{
    height: 400px;
    width: 800px;
    background-color: #dda0dd;
    margin-top: 150px;
    margin-left: 260px;
    border: 1px dotted black;
    box-shadow: 0 0 8px 25px #fff5ee;
    opacity: 0.8;
    border-radius: 50px;
}

.box h1{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 60px;
    
    text-transform: uppercase;
    font-family: 'Architects Daughter', cursive;
    color: #191970;
}
